
core/.classpath

it.launcher/.project

*.prefs

ui.content/.classpath

ui.content/.project

ui.apps/.classpath

ui.apps/.project

it.tests/.classpath

it.tests/.project

it.launcher/.classpath

core/.project

.project

ui.apps/.settings/org.eclipse.wst.common.component

ui.apps/.settings/org.eclipse.wst.common.project.facet.core.xml

ui.apps/src/main/content/jcr_root/META-INF/MANIFEST.MF

ui.apps/src/main/content/jcr_root/WEB-INF/web.xml

ui.content/.settings/org.eclipse.wst.common.component

ui.content/.settings/org.eclipse.wst.common.project.facet.core.xml

ui.content/src/main/content/jcr_root/META-INF/MANIFEST.MF
