LoadModule dispatcher_module modules/mod_dispatcher.so

<IfModule disp_apache2.c>
        DispatcherConfig conf/extra/dispatcher.any
        DispatcherLog "| /data/apache2/bin/rotatelogs logs/dispatcher.log%Y%m%d 604800"
        DispatcherLogLevel 1
        DispatcherNoServerHeader 0
        DispatcherDeclineRoot 0
        DispatcherUseProcessedURL 0
        DispatcherPassError 0
</IfModule>

# Dont forward requests to CQ for these files.
<FilesMatch "(robots.txt|google9c89410e7ab0f4d5.html|googled8adf596a7633718.html|analytics.txt)">
        SetHandler None
</FilesMatch>

<Directory />
        <IfModule disp_apache2.c>
                SetHandler dispatcher-handler
                ModMimeUsePathInfo On
        </IfModule>
        SetOutputFilter INCLUDES

        # The section below is to rewrite URLs with a additional query parameter nocache with a value true.
        # Since dispatcher is set to cache the authorized content (allowAuthorized is set to 1 in dispatcher.any file).
        # The additional query parameter disable the cache for logged in users. Following rules are in place.

        # 1. The URI ends with .html but excludes messages and /funds.*.html URLs (for tabs on daily pricing and our funds page).
        # 2. Only GET requests are candidates for this rewrite as dispatcher dont cache POST requests.
        # 3. There is no querystring in the URL as dispatcher will not cache URLs with query strings.
        # 4. There is a login-token cookie with some value. The rule will ignore the empty cookie (an issue with IE)

        RewriteEngine On

        RewriteCond %{SERVER_PORT} ^443$
        RewriteCond %{REQUEST_FILENAME} -d
        RewriteRule ^ http://%{HTTP_HOST}%{REQUEST_URI}

        RewriteCond %{SERVER_PORT} !^443$
        RewriteCond %{REQUEST_URI} !^/dispatcher(/|$)
        RewriteCond %{REQUEST_URI} !^/bin(/|$)
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI}

        RewriteRule /funds\.(financial-advisors|institutional-investors|individual-investors)\.(.*) /funds.$2 [R,L]

        RewriteCond %{HTTP_HOST} ^www.humancentricinvesting\.com [OR]
        RewriteCond %{HTTP_HOST} ^humancentricinvesting\.com
        RewriteRule ^(.*)$ https://www.hartfordfunds.com/human-centric-investing.html [R=301,L]

        RewriteCond %{HTTP_HOST} ^www.chetadvisor\.com [OR]
        RewriteCond %{HTTP_HOST} ^chetadvisor\.com
       #RewriteRule ^(.*)$ https://www.hartfordfunds.com/college-saving/overview-chet-advisor.html [R=301,L]
        RewriteRule ^(.*)$ https://www.hartfordfunds.com/products/college-savings/chet-advisor.html [R=301,L]

#Start The section below is to rewrite URLs of www.Latticestrategies.com


        RewriteCond %{REQUEST_URI} ^.*/lattice-etfs/ROAM.*\.php.*$
        RewriteRule ^(.*)$ https://www.hartfordfunds.com/etfs/roam.html  [R=301,L]

        RewriteCond %{REQUEST_URI} ^.*/lattice-etfs/RODM.*\.php.*$
        RewriteRule ^(.*)$ https://www.hartfordfunds.com/etfs/rodm.html  [R=301,L]

        RewriteCond %{REQUEST_URI} ^.*/lattice-etfs/ROUS.*\.php.*$
        RewriteRule ^(.*)$ https://www.hartfordfunds.com/etfs/rous.html  [R=301,L]

        RewriteCond %{REQUEST_URI} ^.*/lattice-etfs/ROGS.*\.php.*$
        RewriteRule ^(.*)$ https://www.hartfordfunds.com/etfs/rogs.html  [R=301,L]

        RewriteCond %{REQUEST_URI} ^.*/lattice-etfs/RORE.*\.php.*$
        RewriteRule ^(.*)$ https://www.hartfordfunds.com/etfs/rore.html  [R=301,L]

        RewriteCond %{REQUEST_URI} ^.*/multi-asset-solutions.*\.php.*$
       RewriteRule ^(.*)$ https://www.hartfordfunds.com/financial-professionals/multi-asset-solutions.html  [R=301,L]


        RewriteCond %{HTTP_HOST} ^www.latticeetfs\.com [NC,OR]
        RewriteCond %{HTTP_HOST} ^latticeetfs\.com
        RewriteRule ^(.*)$ https://www.hartfordfunds.com/products/ETFhub.html [R=301,L]

        RewriteCond %{HTTP_HOST} ^www.latticestrategies\.com [NC,OR]
        RewriteCond %{HTTP_HOST} ^latticestrategies\.com
		RewriteRule ^(.*)$ https://www.hartfordfunds.com/products/etfs.html [R=301,L]

        RewriteCond %{REQUEST_URI} ^.*/appdocs/.*\.pdf.*$
        RewriteRule ^(.*)$ https://www.hartfordfunds.com/ [R=301,L]

        RewriteCond %{REQUEST_URI} ^.*/mobileapps/.*\.html.*$
        RewriteRule ^(.*)$ https://www.hartfordfunds.com/ [R=301,L]
